h1
  |Gimme some beats!
input(type='file', webkitdirectory, mozdirectory, id='file-select', onchange='handleFileChange(this.files)' )
audio(id="audioPlayer", control) 
script(type='text/javascript', src='javascripts/desktop.js')
