h1
  |Gimme some beats!
input(type='file', webkitdirectory, mozdirectory, id='file-select', onchange='handleFileChange(this.files)' )
audio(id="audioPlayer", control) your browser doesn't support html5 audio bro
h4(id="tokenContainer")
script(type='text/javascript', src='javascripts/desktop.js')
